/* Globale elements */
body{
font-family: sans-serif;
margin:0;
padding:0;
}
a, a:link {
  font-size: 1em;
  text-decoration: none;

}
p{
  font-size: 1em;
}
h1{
font-size:3em;

}
h2{
font-size:2.5em;
}
h3{
font-size:1.2em;
font-weight: 100;
text-transform: uppercase;
}
h4{
font-size: 1.4em;
}
h5{

}

/* Wrapper container */

.wrapper{
width:960px;
margin:auto;
}

/* Floating objects whit classe .clear */

.float-left{
  float: left;
}
.float-right{
  float:right;
}
.clear{
clear: both;
}


/*---------------------header-------------------- */

header{
width:100%;
height:600px;

background-size: auto;

background-image:url(../images/header.jpg) ;
background-repeat: no-repeat;
}

#menu-bar{
	width:100%;
	height:auto;
	background-color:#bed623;
  margin-bottom: 100px;
}

/* -----Logo----- */
#seite-titel{



}
#seite-titel h3{
    margin: 0;
	  color: white;
		padding: 14px 0 14px 16px;

}

/*---------------------Banner-------------------- */
#banner-msg{
	padding: 50px 0;
}
.banner-msg{

  width: 30%;
  padding:0 15px;
  background-color:#bed623;
  color: white;
  letter-spacing: 3px;
  line-height: 1.6;
  margin: 5px auto;
  text-align: center;
}
.black{
  background-color:black;
  width: 40%;
}

#banner-msg button{

  height: auto;
  background-color:#bed623;
  color: white;
  padding: 15px 25px;



}
#banner-msg button h4{
  margin: 0;
}

/*-----Haupt-nav----- */

#haupt-nav{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
	float: right;;
}

#haupt-nav li {
  float: left;
	display: inline-block;
}

#haupt-nav li a {
  display: block;
  color: #596412;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
#haupt-nav li a:hover {
  background-color: #111;
}
