/*---------------------header-------------------- */
body{
  font-family: 'Montserrat', sans-serif;
}

h1{
  font-size: 3em;
}
h2{
  font-size: 2em;
}
h3{
  font-size: 1.5em;
}
h4{
  font-size: 1.2em;
}
p{
  font-size: 1em;
  font-weight: 100;
}
button{
  border: none;
}

/*---------------------Titel im verschiede hintergrund farben-------------------- */

/* Algemeine classen mit Text styles */
.text-styles{
  letter-spacing: 3px;
  padding: 7px 15px;
}
.text-styles-p{
  letter-spacing: 1px;
  line-height: 1.6;
}
.text-color-white{
  color: white;
}
.text-center{
  text-align: center;
}
.text-transform{
  text-transform: uppercase;
}
/* Algemeine classen mit Hintergrund Farbe */
.background-green{
  background-color: #bed623;
}
.background-black{
  background-color: black;
}
.background-red{
  background-color: red;
}
.background-white{
  background-color: white;
}
.background-lightgray{
  background-color: lightgray;
}

/* Algemeine classen mit Margins und Paddings*/
.margin-auto{
  margin: auto;
}
.margin-top-100{
  margin-top: 100px;
}
.margin-top-15{
  margin-top: 15px;
}
.margin-top-50{
  margin-top: 50px;
}
.margin-bottom-15{
  margin-bottom: 15px;
}
.margin-bottom-50{
  margin-bottom: 50px;
}
.margin-bottom-100{
  margin-bottom: 100px;
}
.margin-left-0{
  margin-left: 0;
}
.padding-top-50{
  padding-top: 50px;
}
.padding-bottom-100{
  padding-bottom: 100px;
}
/* Algemeine Display classen */
.display-block{
  display: block;
}
.display-inline-block{
  display: inline-block;
}
.display-inline{
  display:inline;
}
.padding-left-15{
  padding-left: 15px;
}
/* Algemeine Border box classen */


/* Header bereich ------------------------------- */
header{

height:600px;
background-size: cover;
background-image:url(../images/header.jpg) ;
}
.navbar{
  background-color: #bed623;

}

/* Logo ------------------------------- */
#logo{
  margin-top: 18px;
  text-transform: uppercase;
}

/* Haupt Menu ------------------------------- */
#haupt-nav{
  display: none;
}

/* Menu Icon ------------------------------- */
.menu-icon{
  margin: 10px 0;
  text-align: -webkit-right;
}
.bar{
  width: 45px;
  height: 6px;
  background-color: black;
  margin: 6px 0;
}


/* Banner ------------------------------- */
#banner-content{
}
.banner-msg-01{

}/* Iss' mal */

.banner-msg-02{

}/* was anderes */
.banner-button{

  left: 37%;
  bottom: 0;
  position: absolute;
}
.banner-button-child{
  width: 250%;



}


/* ID Berufsbild */
#berufsbild{
}
.berufsbild-text{

}
.berufsbild-text-02{

}
.berufsbild-text-03{

  padding-left: 0;
}
.banner-button{

}

/* ID Berufsbild */
#welche-berufe{
  height: 500px;
  background-size: cover;
  background-image:url(../images/WelcheBerufe.jpg) ;
}
.welche-berufe-titel{
  padding: 15px 0 0;
  height: 50px;
}
.welche-berufe-list{

  display: none;
}
#welche-berufe h3{

}

/* ID schulischen */
#schulischen{

}
.padding-left-0{
  padding-left: 0;
}
.box p{
  margin: 15px 0 15px 0;

}
.box h3{
  margin: 15px 0 15px 0;

}
.box h4{
  margin: 15px 0 15px 0;

}
.box{
  height: 620px;
}
.box-01{

}
.box-02-p{
  padding-bottom: 20px;
}
.box-02-verkehr{

}
/* ID schulischen: Blocks*/
.box-border{

}

/* ID schulischen: Font Awesome*/
