/*---------------------header-------------------- */
body{
  font-family: 'Montserrat', sans-serif;
}

h1{
  font-size: 3em;
}
h2{
  font-size: 2em;
}
h3{
  font-size: 1.5em;
}
h4{
  font-size: 1.2em;
}
p{
  font-weight: 100;
}
button{
  border: none;
}

/*---------------------Titel im verschiede hintergrund farben-------------------- */

/* Algemeine classen mit Text styles */
.text-styles{
  letter-spacing: 3px;
  padding: 10px 15px;
}
.text-styles-p{
  letter-spacing: 1px;
  line-height: 1.6;
}
.text-color-white{
  color: white;
}
.text-center{
  text-align: center;
}
.text-transform{
  text-transform: uppercase;
}
/* Algemeine classen mit Hintergrund Farbe */
.text-green{
  background-color: #bed623;
}
.text-black{
  background-color: black;
}
.text-red{
  background-color: red;
}
.text-white{
  background-color: white;
}

/* Algemeine classen mit Margins und Paddings*/
.margin-top-100{
  margin-top: 100px;
}
.margin-top-10{
  margin-top: 15px;
}
.margin-top-50{
  margin-top: 50px;
}

.margin-bottom-50{
  margin-bottom: 50px;
}

.padding-top-50{
  padding-top: 50px;
}
.padding-bottom-100{
  padding-bottom: 100px;
}
/* Algemeine Display classen */
.display-block{
  display: block;
}
/* Algemeine Border box classen */


/* Header bereich */
header{

height:600px;
background-size: cover;
background-image:url(../images/header.jpg) ;
}
.navbar{
  background-color: #bed623;
  color: #444c0e;
}

/* Logo */
#logo{
  margin-top: 14px;
  text-transform: uppercase;
}
#logo h3{
  font-weight: 100;
  letter-spacing: 3px;
}
/* Haupt Menu */
#haupt-nav{
  display: none;
}
/* Menu Icon */
.menu-icon{
  margin: 10px 0;
}
.bar{
  width: 30px;
  height: 3px;
  background-color: #444c0e;
  margin: 6px 0;
}


/* Banner */
#banner-content{
}
#banner-content button{
  width: 100%;
  margin-left: 160%;
}

/* ID Berufsbild */
#berufsbild{
}
.berufsbild-text{
  width: 151px;
}
.berufsbild-text-02{
  width: 406px;
}
.berufsbild-text-03{
  color: black;
  padding-left: 0;
}


/* ID Berufsbild */
#welche-berufe{
  height: 500px;
  background-size: cover;
  background-image:url(../images/WelcheBerufe.jpg) ;
}
.welche-berufe-titel{
  padding: 15px 0 0;
  height: 50px;
}
.welche-berufe-list{

  display: none;
}
#welche-berufe h3{
  width: 345px;
  margin: auto;
}

/* ID schulischen */
#schulischen, h3, h4, p{
  margin: 10px;
  

  /* ID schulischen: Titel*/
}
.padding-left-0{
  padding-left: 0;
}
.width-01{
  width: 620px;
}
.width-02{
  width: 336px;
}
/* ID schulischen: Blocks*/
.box-border{
  height: 300px;



  background-color: lightgrey;
}
