/*---------------------header-------------------- */
body{
  font-family: 'Montserrat', sans-serif;
}

h1{
  font-size: 3em;
}
h2{
  font-size: 2em;
}
h3{
  font-size: 1.5em;
}
h4{
  font-size: 1.2em;
}
p{
  font-size: 1em;
  font-weight: 100;
}
a{
  text-decoration: none;
}
button{
  border: none;
}

/*---------------------
Titel im verschiede hintergrund farben
-------------------- */

/* List styles*/
.column-count{


}


/* Algemeine classen mit Text styles */
.text-styles{
  letter-spacing: 3px;
  padding: 7px 15px;
}
.text-styles-p{
  letter-spacing: 1px;
  line-height: 1.6;
}
.text-color-white{
  color: white;
}
.text-center{
  text-align: center;
}
.text-transform{
  text-transform: uppercase;
}
/* Algemeine classen mit Hintergrund Farbe */
.background-green{
  background-color: #bed623;
}
.background-green-dunkel{
  background-color: #94a71c;
}
.background-black{
  background-color: black;
}
.background-red{
  background-color: red;
}
.background-white{
  background-color: white;
}
.background-lightgray{
  background-color: lightgray;
}

/* Algemeine classen mit Margins und Paddings*/
.margin-auto{
  margin: auto;
}
.margin-top-100{
  margin-top: 100px;
}
.margin-top-15{
  margin-top: 15px;
}
.margin-top-50{
  margin-top: 50px;
}
.margin-top-150{
  margin-top: 150px;
}
.margin-bottom-15{
  margin-bottom: 15px;
}
.margin-bottom-50{
  margin-bottom: 50px;
}
.margin-bottom-100{
  margin-bottom: 100px;
}
.margin-left-0{
  margin-left: 0;
}
.padding-top-50{
  padding-top: 50px;
}
.padding-top-150{
  padding-top: 150px;
}
.padding-bottom-50{
  padding-bottom: 50px;
}
.padding-bottom-100{
  padding-bottom: 100px;
}
/* Algemeine Display classen */
.display-block{
  display: block;
}
.display-inline-block{
  display: inline-block;
}
.display-inline{
  display:inline;
}
.padding-left-15{
  padding-left: 15px;
}
/* Algemeine Border box classen */


/* Header bereich ------------------------------- */
header{

height:600px;
background-size: cover;
background-image:url(../images/header.jpg) ;
}

/* Logo ------------------------------- */
#logo{
  margin-top: 10px;
  text-transform: uppercase;
}

.navbar{
  background-color: #bed623;
  position: fixed;
  width: 100%;
  top: 0px;
  right: 0px;
  display: none;
}

/* Haupt Menu ------------------------------- */
#navbar{

}

/* Menu Icon ------------------------------- */
#menu-icon{
  width: 79px;
  transition: width 0.4s;
}
#menu-icon:hover, #menu-icon.active{
  width: 145px;
  

}
.active-1{
  background-color: grey;
}
.container {
  position: fixed;
  right: 0;
  top: 10%;
  display: inline-block;
  cursor: pointer;
}
.bar1, .bar2, .bar3 {
  width: 80px;
  height: 8px;
  background-color: black;
  margin: 17px 0;
  transition: 0.4s;
}
/* Menu-side ------------------------------- */
.menu-side{
  display: none;
  position: fixed;
  width: 174px;
  right: 0;
  top: 30%;

}
.bar{

}
.bar a{
  display: block;
  color: #000;


  padding: 12px 16px;
  text-decoration: none;
}
.bar a:hover{
  background-color: #94a71c;
}
.bar a:active {
    background:#000;
}
.bar:active a{background:#000; color:#FFF;}
/* Banner ------------------------------- */
#banner-content{
}
.banner-msg-01{

}/* Iss' mal */

.banner-msg-02{

}/* was anderes */
.banner-button{

  left: 37%;
  bottom: 0;
  position: absolute;
}

.banner-button-child{

  align-content: center;


}
/* ID Berufsbild */
#berufsbild{
}
.berufsbild-text{

}
.berufsbild-text-02{

}
.berufsbild-text-03{

  padding-left: 0;
}
.banner-button{

}

/* ID welche-berufe */
#welche-berufe{
  background-position: center top;
  background-size: cover;
  background-image:url(../images/WelcheBerufe.jpg) ;
}
.welche-berufe-titel{
  padding: 15px 0 0;

}
.welche-berufe-list{
  background-color: white;
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  top: 0px;
  line-height: 1.6em;
  padding: 150px;
  left: 0px;
}
.custom-height{
  margin-top: -19px;
}
#welche-berufe button{
  width: 100%;

}

/* ID schulischen */
#schulischen{

}
.padding-left-0{
  padding-left: 0;
}
.box p{
  margin: 15px 0 15px 0;

}
.box h3{
  margin: 15px 0 15px 0;

}
.box h4{
  margin: 15px 0 15px 0;

}
.box{
  height: 620px;
}
.box-01{

}
.box-02-p{
  padding-bottom: 20px;
}
.box-02-verkehr{

}
/* ID schulischen: Blocks*/
.box-border{

}

/* ID schulischen: Font Awesome*/

/* ID STUDIEREN */
#studieren{
  height: 500px;
  background-size: cover;
  background-image:url(../images/studieren-1920.jpg) ;
}


/* ID LINKS */
#links{

}
